<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @todo.name %>
</p>

<p>
  <strong>Body:</strong>
  <%= @todo.body %>
</p>

<p>
  <strong>User:</strong>
  <%= @users.find_by_id(@todo.user_id).name %>
</p>

<p>
  <strong>Location:</strong>
  <%= @locations.find_by_id(@todo.location.id).name %>
</p>

<%= link_to 'Edit', edit_todo_path(@todo) %> |
<%= link_to 'Back', todos_path %>
